<div class="container">
  <div class = "title">
    <h1>Bookings List</h1>
    <p>View the list of all bookings for your bikes!</p>
  </div>
    <div class="cards-grid">
    
      <% @bookings.each do |booking| %>
        <div class="card" style="width: 18rem;">
          <div class="body">
            <p>Your Booking ID: <%=booking.id%></p>
            <p><%= booking.bike.model %></p>
            <p>Rental start date: <%=booking.start_date%></p>
            <p>Rental end date: <%=booking.end_date%></p>
            <%= link_to 'More details', booking_path(booking) %>
        </div>
      </div>
    <% end %>
  </div>
</div>


