
<div class ="indexbooking-container">




<div class="row">


<div class="indexbookingpicture">


</div>

<div class="cards-grid">
 <% @bookings.each do |booking| %>
  <div class="card" style="width: 18rem;">



          <div class="card-title">
            <br/>
            <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
          </div>



    <div class="body" style="text-align: center;">
      <p>Your Booking ID: <%=booking.id%></p>
      <p><%= booking.bike.model %></p>
      <p>Rental start date: <%=booking.start_date%></p>
      <p>Rental end date: <%=booking.end_date%></p>
      <%= link_to 'More details', booking_path(booking), :class => "btn btn-info" %>
    </div>
  </div>
  <% end %>
</div>



</div>


</div>






