<div class ="indexbooking-container">
  <div class="row">


    <div class="indexbookingpicture">

    </div>
  </div>
</div>

<div class="page-content page-container" id="page-content">

  <div class="row container d-flex justify-content-center">
    <div class="col-xl-12 col-md-12">

      <div class="profile-title">
        <h1>MY BOOKINGS</h1><br/></div>
          <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">

              <div class="col-sm-8">
                <div class="card-block">
                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                    <div class="row">
                      <div class="cards-grid">
                        <% @bookings.each do |booking| %>
                          <div class="card" style="width: 18rem; padding: 16px; box-shadow: 0 10px 30px rgba(0,0,0,0.1);">

                            <div class="body" style="text-align: center;">
                              <p>Your Booking ID: <%=booking.id%></p>
                              <p><%= booking.bike.model %></p>
                              <p>Rental start date: <%=booking.start_date%></p>
                              <p>Rental end date: <%=booking.end_date%></p>
                              <%= link_to 'More details', booking_path(booking), :class => "btn btn-info" %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
