<div class="container">
  <div class="form">
    <h1>Book the bike "<%= @bike.model %>" and start riding</h1>
    <h3>Price: <%= @bike.price %> / month.</h3>
    <p>Check our availabilities</p>
      <div class="container-new-form">

        <%= simple_form_for([@bike, Booking.new]) do |f| %>
          <%= f.input :start_date, as: :date, html5: true  %>
          <%= f.input :end_date, as: :date, html5: true  %>
          <div class="buttons">
            <%= f.button :submit, class: "btn btn-main" %>
          </div>

        <% end %>
    </div>
  </div>
</div>


