<div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="booking-form">
            <div class="form-header">




  <div class="form">
    <h1>Book the bike "<%= @bike.model %>" and start riding</h1>


    <h3>Price: <%= @bike.price %> / month.</h3>


    <p>Check our availabilities</p>


      <div class="container-new-form1">

        <div class="form-inputs">

          <%= simple_form_for([@bike, Booking.new]) do |f| %>
            <%= f.input :start_date, style:"font-size: 12px; border-radius:10px; width: 120px; color:white; background:white;opacity:0.9;" %>
            <%= f.input :end_date %>
        </div>
<br/><br/>

          <div class="form-actions">
            <%= f.button :submit, class: "btn btn-info" %>

          </div>


          <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>


