<div class="container">
  <h1>Bookings for <%= @bike.name %> ( <%= @bike.id %>)</h1>
  <p>Model: <%= @bike.model %></p>
  <p>Condition: <%= @bike.condition %></p>
  <p>Price: <%= @bike.price %></p>

  <p><%= @bike.booking.start_date%></p>
  <p><%= @bike.booking.end_date %></p>
</div>
