
<br/><br/>
<br/><br/>

<div class="bike-index-container">


  <div class="index-title">
    <h1>Available <span style="background:rgba(250,0,0,0.7);border-radius:5px">Bikes</span></h1>
    <p>Find the right bike for your needs.</p>

  </div>

<div class="col-md-auto">
  <div class="cards-grid">
    <% @bikes.each do |bike| %>
    <div class="card" style="width: 18rem;">
      <% if bike.photo.attached? %>

      <% else %>
      <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
      <% end %>

      <div class="card-title">
        <br/>
        <h3><%= bike.model %></h3>
      </div>
      <div class="card-body">
        <p>Condition: <%= bike.condition %> </p>
        <p>Price: <%= bike.price %> EUR / month</p>
        <%= link_to 'More details', bike_path(bike), :class  => "btn btn-info", :style => "font-size: 12px; border-radius:10px; width: 120px; background:white;opacity:0.9" %>
        <%= link_to 'Book now!', new_bike_booking_path(bike), :class  => "btn btn-info", :style => "font-size: 12px; border-radius:10px; width: 120px;  background:rgba(250,0,0,0.7);color: white;"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

<div class="footer">
  <div class="footer-copyright">
    <div>This website is made with <i class="fas fa-heart"></i> by Lucas, Sebastien and Alex </div>
  </div>

  <div class="footer-links">
    <div class="social-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>


