<div class="container">
  <div class="title">
    <h1>Available Bikes</h1>
    <p>Find the right bike for your needs.</p>
  </div>
  <div class="cards-grid">
    <% @bikes.each do |bike| %>
      <div class="card" style="width: 18rem;">
        <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
        <div class="card-title">
          <h3><%= bike.model %></h3>
          <p>Owner: <%= bike.user.first_name %></p>
        </div>
        <div class="card-body">
          <p>Condition: <%= bike.condition %> </p>
          <p>Price: <%= bike.price %> EUR / month</p>
          <%= link_to 'More details', bike_path(bike) %>
        </div>
      </div>
    <% end %>
  </div>
</div>