<div class="container">
<%= simple_form_for(@bike) do |f| %>

<%= f.label :model, "Enter the name of the model"%>
  <%= f.text_field :model %>

  <%= f.label : condition, "Describe the condition of the bikes"%>
  <%= f.text_field :condition %>


  <%= f.label :price, "Enter the price"%>
  <%= f.number_field :price %>

  <%= f.submit %>

<% end %>
</div>

