


<div>
<div class="bikeshow-container">



<div class="img">
   <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
 </div>

<div class="toutsaufimage">


 <div class="bike-details"> Some details about this bike</div>


 <div class ="index-description-all" style="color:white;">

  <div class = "model name" style="font-size:30px;"><%= @bike.model%> </div>       <br/>

    <div class = "descrition-one detail"> State : <%= @bike.condition %> </div>
    <div class = "descrition-one detail"> <%= @bike.price %> EUR/month</div>
    <div class = "descrition-one detail"> <%= @bike.address %></div>
          <br/>
  <div>
    <% if @bike.user != current_user %>


    <%= link_to "Book now", new_bike_booking_path(@bike), :class  => "btn btn-info", :style => "font-size: 20px; border-radius:10px; width:100px" %>
    <% end %>
  </div>



  <%= link_to "<<- Back", bikes_path, :style => "color:black;font-size: 14px;border-radius:10px;"%>


</div>
</div>

<div id="map"
style="width:20%;height:450px;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

</div>
</div>

<br>


<div class="footer">
  <div class="footer-copyright">
    <div>This website is made with <i class="fas fa-heart"></i> by Lucas, Sebastien and Alex </div>
  </div>

  <div class="footer-links">
    <div class="social-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>



