
<div class="container-bike-show">
  <div class="card-product">
    <% if @bike.photo.attached? %>
            <%= cl_image_tag @bike.photo.key, height: 216, width: 288, crop: :fill, :style => 'border-radius: 8px;' %>
          <% else %>
            <img src="https://picsum.photos/400/300" class="card-img-top" src="..." alt="Card image cap">
          <% end %>
    <div class="card-product-infos">
      <h2><%= @bike.model%> </h2>
      <p>State : <%= @bike.condition %></p>
      <p>Price: <%= @bike.price %> EUR/month</p>
      <p>Address: <%= @bike.address %></p>
    </div>
  </div>

  <div class="button-booking">
      <% if @bike.user != current_user %>
      <%= link_to "Book now", new_bike_booking_path(@bike), :class  => "btn btn-light", :style => "color:white;font-size: 20px; border-radius:10px; width:100px; display:inline; margin-right:30px; background:rgba(250,0,0,0.5)" %>
      <% end %>
    <%= link_to "Back to homepage", bikes_path,:class  => "btn btn-light", :style => "font-size: 20px; border-radius:10px; display:inline; width:100px"%>
  <br>
  </div>
</div>

<div class="footer">
  <div class="footer-copyright">
    <div>This website is made with <i class="fas fa-heart"></i> by Lucas, Sebastien and Alex </div>
  </div>

  <div class="footer-links">
    <div class="social-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>



